<div class="container">

  <div class="text-center">
    <div>
      <div class="row">
        <div class="col-md-4">
          <h1>Graph It</h1>
        </div>
      </div>

      <div class="row">


        <div class="col-md-4">
          <div id="focus-group" class="row">
            <label for="graph-name">Name It</label>
            <input
              id="graph-name"
              type="text"
              ng-blur="setCurrentName()"
              ng-keyup="$event.keyCode == 13 ? setCurrentName() : showDrop()"
              ng-model="input.name">
            <div class="dropdown">
              <ul class="dropdown-menu" ng-style="dropVis">
                <li ng-repeat="g in (graphs.filterList = (graphs.list | filter:input.name))">
                  <a ng-click="input.name=g; setCurrentName()">{{ g }}</a>
                </li>

              </ul>
            </div>

          </div>

          <div class="row">
            <div ng-hide="true"><pass-focus-to focus-to="focusTo"></pass-focus-to></div>

            <label for="input-number">Number It</label>
            <input
              id="input-number"
              type=number
              placeholder="123.4"
              ng-keyup="$event.keyCode == 13 ? save() : null"
              ng-model="input.number" />
            <!-- <button ng-click="save()" >Save</button> -->

            <div class="alert alert-warning" ng-show="note.nan">Not Saved, wasn't a number - Try Again</div>
          </div>

          <div class="row">
            <line-graph data="input"></line-graph>
            <div class="row">
              <button  ng-click="clear()">Clear</button>
            </div>
          </div>
        </div>

        <div class="col-md-3 graph-list">
          <ul class="list-group"> My Graphs:
            <li class="list-group-item" ng-repeat="g in  graphs.list">
              <a ng-click="input.name=g">{{ g }}</a>
              <a ng-click="removeGraph(g)">
                <span class="glyphicon glyphicon-remove pull-right"></span>
              </a>
              <a ng-click="">
                <span class="glyphicon glyphicon-pencil pull-right"></span>
              </a>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>



</div><!-- /.container -->