
<div class="container">
  <h2>Editing:</h2> <h4>{{input.name}}</h4>
  <div class="row">

    <div class="col-md-3 graph-data-list">
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="g in graphData">
        <span class="edit-number" title="{{ localTime(g.datetime) }}">
          <span class="time"> {{ ago(g.datetime) }}</span>
          <input type="number" ng-model="g.number">
        </span>

          <a ng-click="">
            <span class="glyphicon glyphicon-remove pull-right"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <a ng-click="okToClear=!okToClear">Clear All</a>
    <button ng-click="saveGraphData()">Save Changes</button>
  </div>
  <div class="row">
    <button ng-show="okToClear" ng-click="">Clear</button>
  </div>
</div>