body {
    padding-top: 50px;
}

path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

line {
    stroke: black;
}

text {
    font-family: Arial;
    font-size: 9pt;
}

.xLabel {
    font-size: 7pt;
}

a .glyphicon {
    padding-left: 0.6em;
}

.list-group-item .edit-number{
    display: inline;
}

.list-group-item .edit-number .time{
    padding-right: 0.8em;
}

.list-group-item .edit-number input{
    text-align: center;
    max-width: 6em;
}