<div class="container">
    <div class="row">

        <div class="col-md-6 graph-data-list">
            <h3>JustGraphIt</h3>
            <ul class="list-group"><h4>FAQ</h4>
                <li class="list-group-item" *ngFor="#q of faqs">
                    <h5>{{ q[0] }}</h5>
                    {{ q[1] }}
                </li>


            </ul>
            <ul class="list-group">
                <li class="list-group-item">
                    version: 0.2.0
                </li>
                <li class="list-group-item">
                    author email: <a href="mailto: dmarti21@gmail.com">forforf c/o Dave Martin</a>
                </li>
                <li class="list-group-item">
                    license: MIT
                </li>

            </ul>
        </div>
    </div>

</div>