<div class="container">

    <div class="text-center">
        <div>
            <div class="row">
                <div class="col-md-4">
                    <h1>Graph It</h1>
                </div>
            </div>

            <div class="row">

                <!--ng-keyup="$event.keyCode == 13 ? setCurrentName() : showDrop()"-->
                <div class="col-md-4">
                    <div id="focus-group" class="row">
                        <label for="graph-name">Name It</label>
                        <form>
                            <!--<input id="graph-name" type="text" (blur)="setCurrentName()" [(ngModel)]="input.name" >-->
                            <input id="graph-name" type="text" (blur)="setCurrentName($event.target.value)"  [value]="input.name" >
                        </form>
                    </div>

                    <div class="row">
                        <div ng-hide="true"><pass-focus-to focus-to="focusTo"></pass-focus-to></div>

                        <label for="input-number">Number It</label>
                        <form>
                            <input id="input-number" type="number" [(ngModel)]="input.number" >
                        </form>
                        <!--<input-->
                                <!--id="input-number"-->
                                <!--type=number-->
                                <!--placeholder="123.4"-->
                                <!--ng-keyup="$event.keyCode == 13 ? save() : null"-->
                                <!--ng-model="input.number" />-->
                        <button (click)="save()" >Save</button>

                        <div class="alert alert-warning" [hidden]="!input.invalidNumber">Not Saved, wasn't a number - Try Again</div>
                    </div>

                    <div class="row">
                        <line-graph data="input" [currentGraphId]="currentGraphId"></line-graph>
                        <div class="row">
                            <button  (click)="clear()">Clear</button>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 graph-list">
                    <ul class="list-group"> My Graphs:
                        <li class="list-group-item" *ngFor="#g of graphList ">
                            <a (click)="setCurrentName(g)">{{ g }}</a>
                            <a (click)="removeGraph(g)">
                                <span class="glyphicon glyphicon-remove pull-right"></span>
                            </a>
                            <!--
                            <a ng-click="">
                              <span class="glyphicon glyphicon-pencil pull-right"></span>
                            </a>
                            -->
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>



</div>